<a href="https://colab.research.google.com/github/kkddss0503/ML-tools/blob/main/Data_Selection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task #02 作業 01【實作題】資料選取

In [1]:
#!pip install pandas
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
print(df)

     0   1   2   3
0   14  14  22  23
1   13  24  16  29
2   36  31  22  31
3   27  17  29  18
4   26  21  34  12
5   39  15  23  14
6   33  38  36  38
7   21  19  21  15
8   26  26  32  15
9   13  16  23  26
10  18  22  30  34
11  20  21  31  10
12  12  33  29  18
13  16  35  31  10
14  10  26  21  31

- 1. filtered by first column > 20?

In [6]:
mask = df.iloc[:,0]>20
df[mask]

    0   1   2   3
2  36  31  22  31
3  27  17  29  18
4  26  21  34  12
5  39  15  23  14
6  33  38  36  38
7  21  19  21  15
8  26  26  32  15

- 2. filtered by first column + second column > 50

In [7]:
mask = df.iloc[:,0]+df.iloc[:,1] > 50
df[mask]

     0   1   2   3
2   36  31  22  31
5   39  15  23  14
6   33  38  36  38
8   26  26  32  15
13  16  35  31  10

- 3. filtered by first column < 30 or second column > 30

In [8]:
mask = (df.iloc[:,0]<30) | (df.iloc[:,1]>30)
df[mask]

     0   1   2   3
0   14  14  22  23
1   13  24  16  29
2   36  31  22  31
3   27  17  29  18
4   26  21  34  12
6   33  38  36  38
7   21  19  21  15
8   26  26  32  15
9   13  16  23  26
10  18  22  30  34
11  20  21  31  10
12  12  33  29  18
13  16  35  31  10
14  10  26  21  31

- 4. filtered by total sum of row > 100

In [9]:
mask = df.sum(axis=1) > 100
df[mask]

     0   1   2   3
2   36  31  22  31
6   33  38  36  38
10  18  22  30  34

#Task #02 作業 02【實作題】資料匯總

練習：請利用 Pandas 計算給定的資料中不同 weekday 的 visitor 總和為何？

In [2]:
import pandas as pd
import numpy as np

d = [
    {'city': 'Austin', 'visitor': 139, 'weekday': 'Sun'},
    {'city': 'Dallas', 'visitor': 237, 'weekday': 'Sun'},
    {'city': 'Austin', 'visitor': 326, 'weekday': 'Mon'},
    {'city': 'Dallas', 'visitor': 456, 'weekday': 'Mon'}
]

data = pd.DataFrame(d)
grouped = data.groupby('weekday')
result = grouped.agg({'visitor':'sum'})
print(result.to_dict()['visitor'])

{'Mon': 782, 'Sun': 376}

# Task #02 作業 03【實作題】檔案串接與資料存取

練習：我們使用來自於社群整理的醫事機構整理的公開資料，該資料包含醫事機構代碼、醫事機構名稱以及地址等資訊。請嘗試用 Pandas 存取來自於檔案來源的資料，並且計算每個縣市的醫事機構數量並且排序前五高縣市為何。

Sample Input: https://raw.githubusercontent.com/kiang/pharmacies/master/data.csv

Sample Output: 醫事機構數量前五高的縣市

In [156]:
from ast import Name
import pandas as pd
import numpy as np
df = pd.read_csv('https://raw.githubusercontent.com/kiang/pharmacies/master/data.csv')
'''
grouped = df.groupby('縣市')
result = grouped.agg({'縣市':'count'}).to_dict()['縣市']
result = sorted(result.items(),key = lambda x:x[1],reverse=True)
result = pd.DataFrame(result, columns=['縣市','醫療機構數量']).set_index('縣市')
result.head()
'''
grouped = df.groupby('縣市')['醫事機構名稱'].count()
top_five = grouped.sort_values(ascending=False).head()
top_five

縣市
新北市    1256
臺中市     855
臺北市     780
高雄市     718
桃園市     670
Name: 醫事機構名稱, dtype: int64