<a href="https://colab.research.google.com/github/kkddss0503/ML-tools/blob/main/Data_Selection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task #02 作業 01【實作題】資料選取

In [ ]:
#!pip install pandas
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
print(df)

     0   1   2   3
0   22  25  30  32
1   29  14  12  36
2   12  28  36  16
3   38  20  15  36
4   20  37  10  14
5   18  38  10  20
6   23  21  13  29
7   10  33  14  37
8   31  32  16  15
9   24  13  13  29
10  22  34  10  23
11  30  25  12  11
12  27  34  38  23
13  16  29  30  25
14  37  39  12  10

- 1. filtered by first column > 20?

In [ ]:
mask = df.loc[:,0]>20
df[mask]

     0   1   2   3
0   22  25  30  32
1   29  14  12  36
3   38  20  15  36
6   23  21  13  29
8   31  32  16  15
9   24  13  13  29
10  22  34  10  23
11  30  25  12  11
12  27  34  38  23
14  37  39  12  10

- 2. filtered by first column + second column > 50

In [ ]:
mask = df.loc[:,0]+df.loc[:,1] > 50
df[mask]

     0   1   2   3
3   38  20  15  36
4   20  37  10  14
5   18  38  10  20
8   31  32  16  15
10  22  34  10  23
11  30  25  12  11
12  27  34  38  23
14  37  39  12  10

- 3. filtered by first column < 30 or second column > 30

In [ ]:
mask = (df.loc[:,0]<30) | (df.loc[:,1]>30)
df[mask]

     0   1   2   3
0   22  25  30  32
1   29  14  12  36
2   12  28  36  16
4   20  37  10  14
5   18  38  10  20
6   23  21  13  29
7   10  33  14  37
8   31  32  16  15
9   24  13  13  29
10  22  34  10  23
12  27  34  38  23
13  16  29  30  25
14  37  39  12  10

- 4. filtered by total sum of row > 100

In [ ]:
mask = df.sum(axis=1) > 100
df[mask]

     0   1   2   3
0   22  25  30  32
3   38  20  15  36
12  27  34  38  23